@page "/user-form"
@using PatientPortalApp.Services
@using PatientPortalApp.Data
@using PatientPortalApp.Models
@using BlazorBootstrap

@using System.ComponentModel.DataAnnotations
@inject NavigationManager navigationManager

@inject IUserService userService
<h3>User Form</h3>
<EditForm EditContext="context" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3 mt-3">
        <label for="first-name">First Name:</label>
        <InputText class="form-control" id="first-name" name="first-name" @bind-Value="model!.FirstName" required />
    </div>
    <div class="mb-3 mt-3">
        <label for="first-name">Last Name:</label>
        <InputText class="form-control" id="last-name" name="last-name" @bind-Value="model!.LastName" required />
    </div>
    <div class="mb-3 mt-3">
        <label for="middle-name">Middle Name:</label>
        <InputText class="form-control" id="middle-name" name="middle-name" @bind-Value="model!.MiddleName" />
    </div>
    <div class="mb-3 mt-3">
        <label for="email-address">Email Address:</label>
        <InputText class="form-control" id="email-address" name="email-address" @bind-Value="model!.EmailAddress" required />
    </div>
    <div class="mb-3 mt-3">
        <label for="mobile-number">Mobile:</label>
        <InputText class="form-control" id="mobile-number" name="mobile-number" @bind-Value="model!.MobileNumber" required />
    </div>

    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Loading="loading">Submit</Button>
    <Button Color="ButtonColor.Secondary" @onclick="Redirect">Close</Button>
</EditForm>

@code {
    public UserInputModel? model { get; set; }
    public EditContext context = null!;
    public bool loading { get; set; } = false;

    protected override void OnInitialized()
    {
        model = new UserInputModel();
        context = new EditContext(model);
    }


    private async void SubmitForm()
    {
        loading = true;
        await userService.SaveUser(model);
        navigationManager.NavigateTo("/user-grid");
    }

    private void Redirect()
    {
        navigationManager.NavigateTo("/user-grid");
    }

}
